<div id="title" class="text-center" >
		<h1>{{title}}</h1>
		<h2>{{subtitle}}</h2>
	</div>
<div class="row">
  <div class="col-9 order-2" [ngClass]="{'col-12': isSmallScreen}">
    <article id="about">
      <h2>Sobre mi</h2>
      <p>Soy un técnico superior en administración de sistemas informáticos en red, con conocimientos en administración de redes, desarrollo web y ciberseguridad.
        Busco desarrollar y ampliar mis conocimientos en el campo de la informática. 
        También busco poder contribuir con los conocimientos que he ido obteniendo durante estos ultimos 6 años.
      </p>
    </article>
  </div>
  <div class="col-3 order-1" [ngClass]="{'col-12': isSmallScreen}">
    <aside id="sidebar">
      <span><h4 class="text-center">Información relevante</h4></span>
      <p><strong>Email:</strong> {{mail}}</p>
      <p><strong>Teléfono:</strong> {{phone}}</p>
      <p><strong>Localidad:</strong> {{location}}</p>
      <p><strong>Carnet:</strong> {{licenses}}</p>
      <p><strong>Github:</strong> {{git}}</p>
    </aside>
  </div>
</div>

